@{
    ViewData["Title"] = "Index";
}

<h1>作業1</h1>

@section Styles
{
    <style>
        h2 {
            color: red
        }
    </style>
}

<div class="text-center">
    <h1>GitHub</h1>
    <input type="button" value="click" id="button1" />
    <div id="div1">

    </div>
    <table class="table table-bordered" id="mytable">
        
    </table>
</div>

@section Scripts{
    <script>
    const btn = document.querySelector("#button1");
    const mydiv = document.querySelector("#mytable");

    btn.addEventListener("click", () => {
        var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };
        mydiv.innerHTML = `<thead id='mythead'><tr><th>name</th><th>workYears</th><th>salary</th></tr></thead>`;
        mydiv.innerHTML += `<tbody>`;
        for (let i = 0, max = emp.employees.length; i < max; i++) {
            mydiv.innerHTML += `<tr><td>${emp.employees[i].name}</td><td>${emp.employees[i].workYears}</td><td>${emp.employees[i].salary}</td></tr>`;
        }
        mydiv.innerHTML += `</tbody>`;
    })
    </script>
}
