@model prjAjaxDemo.Models.Member

@{
    ViewData["Title"] = "Member";
}

<h1>作業2</h1>

<input type="text" placeholder="Enter Name" id="inp1" />
<input type="number" placeholder="Enter Age" id="inp2" />
<input type="button" value="load" id="button1" />
<input type="button" value="stop" id="button2" />
<div id="div1"></div>

@section Scripts
{
    <script>
        const btn = document.querySelector("#button1");
        const btnstop = document.querySelector("#button2");
        const divmessage = document.querySelector("#div1");
        const inpu1 = document.querySelector("#inp1");
        const inpu2 = document.querySelector("#inp2"); 
        const xhr = new XMLHttpRequest();

        btn.addEventListener("click", () => {
            xhr.open("GET", `/api/index?name=${inpu1.value}&age=${inpu2.value}`); 
            @*xhr.timeout = 5000;*@
            xhr.send();           
            xhr.addEventListener("load", () => {
                divmessage.innerHTML = xhr.responseText;
                @*console.log("load");*@
            })
            
            @*xhr.addEventListener("loadstart", () => {
                console.log("loadstart");
                btn.value = "loading...";
                btn.setAttribute("disabled", "disabled")
            })
            
            xhr.addEventListener("loadend", () => {
                console.log("loadend");
                btn.value = "load";
                btn.removeAttribute("disabled")
            })*@
            
            @*xhr.addEventListener("timeout", () => {
                console.log("timeout");
                divmessage.innerHTML = "伺服器忙碌中.....";
            })
            
            xhr.addEventListener("abort", () => {
                console.log("abort");
                divmessage.innerHTML = "取消這次的執行.....";
            })*@
        })
        
        @*btnstop.addEventListener("click", () => {
            xhr.abort();
        })*@
    </script>
}